@use 'src/scss/common/animations' as *;

.clients-ul {
    display: flex;
    margin: 0;
    padding-left: 100px;
    align-items: center;
    position: absolute;
    width: 50vw;
    bottom: 0;
    @include fadeInUpAnimation(0s, 1s);

    li {
        list-style: none;
        height: auto;
        padding-right: 50px;
        width: 30%;

        img {
            width: 100%;
            height: 100%;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
}